<div class="createAcc">
    <form (ngSubmit)="ajouterCompte()">
        <div class="row" style="display: grid;place-items:center;">
            <img src="../../assets/images/stegLogo.jpg" style="width: 250px;" class="rounded-circle shadow-lg">
        </div>
        <label for="nom">Nom :</label>
        <input class="form-control" type="text" id="nom" name="nom" required [(ngModel)]="nom">
        
        <label for="Prenon">Prenon:</label>
        <input class="form-control" type="text" id="Prenon" name="Prenon" required [(ngModel)]="prenom"><br><br>
    
        <label for="email">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required [(ngModel)]="compte.Email"><br><br>
    
        <label for="Mot de passe">Mot de passe :</label>
        <input class="form-control" type="password" id="mot de passe" name="mot de passe" required [(ngModel)]="compte.password"><br><br>
        <button style="width: 360px;" type="submit">Envoyer</button>
      </form>
</div>