<body class="bodi">
    <button type="button" style="background-color:transparent;border: none;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" data-bs-content='<div class="card shadow-lg"><ul class="list-group list-group-flush"><li class="list-group-item"><h6>La Société tunisienne de l électricité et du gaz (الشركة التونسية للكهرباء و الغاز) ou STEG est une société tunisienne de droit public à caractère non administratif. Créée en 1962, elle a pour mission la production et la distribution de l électricité et du gaz naturel sur le territoire tunisien.<br>La STEG est la deuxième plus grande entreprise tunisienne par son chiffre d affaires en 2012.</h6></li></ul></div>'><h1 id="intro" style="font-size: 40px; margin-top: 0; text-align: center;color:azure;text-decoration: none;">Qui Sommes-nous?</h1></button>
      <div class="card-container" style="margin-top: 400px;">
        <a id="a321" class="card"  rel="noopener" routerLink="/login">
          <span style="font-size: 20px;">Se Connecter</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>
        <a id="a123" class="card"  rel="noopener" routerLink="/CreateAccount">
            <span style="font-size: 20px;">Créer Un Compte</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
        </div>
        <div class="row">
            <h3 style="color:rgb(254, 254, 254);text-align:center">Attention!La STEG n'accepte que les stages obligatoires,et Merci pour votre compréhension.</h3>
         </div>
         <div class="row">
          <h3 style="color:rgb(254, 254, 254);text-align:center">STEG 2023.</h3>
       </div>
</body>