
    <form style="margin-top:36px" (submit)="sendEmail($event)">
      <label for="#name">Your Name</label>
      <input type="text" name="name"  id="name" placeholder="Your name.." [(ngModel)]="name">
  
      <label for="#email">Email</label>
      <input type="email" name="email"  id="email" placeholder="Your email.." [(ngModel)]="mail">
      
      <label for="#subject">Subject</label>
      <input type="text" name="subject"  id="subject" placeholder="Your email..">

      <label for="#message">Message</label>
      <textarea name="message"  id="message" placeholder="Write something.." style="height:200px" [(ngModel)]="message"></textarea>
      <br>
      <p> {{name}} </p>  
      <button type="submit">send</button>
    </form>
  </body> -->
  <router-outlet></router-outlet>
   
